@font-face {
    font-family: 'oswaldbold';
    src: url('../font/oswald-bold-webfont.eot');
    src: url('../font/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/oswald-bold-webfont.woff2') format('woff2'),
    url('../font/oswald-bold-webfont.woff') format('woff'),
    url('../font/oswald-bold-webfont.ttf') format('truetype'),
    url('../font/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldlight';
    src: url('../font/oswald-light-webfont.eot');
    src: url('../font/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/oswald-light-webfont.woff2') format('woff2'),
    url('../font/oswald-light-webfont.woff') format('woff'),
    url('../font/oswald-light-webfont.ttf') format('truetype'),
    url('../font/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldregular';
    src: url('../font/oswald-regular-webfont.eot');
    src: url('../font/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/oswald-regular-webfont.woff2') format('woff2'),
    url('../font/oswald-regular-webfont.woff') format('woff'),
    url('../font/oswald-regular-webfont.ttf') format('truetype'),
    url('../font/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}

/*jQuery mobile styles ################################################################################################*/

.ui-page {
    height: 100%;
    width: 100%;
}

.ui-header {
    border: none !important;
    background-color: #613100 !important;
    min-height: unset !important;
    height: 2em !important;
    max-height: 5vh !important;
    margin-bottom: 3vh;
}

.ui-navbar {
    height: 10vh !important;
    width: 100%;
}

.ui-content {
    padding-top: 2vh;
    padding-bottom: 3vh;
    width: 100%;
    height: 73vh;
}

.ui-footer {
    border: none !important;
    background-color: #613100 !important;
    width: 100%;
    min-height: unset !important;
    height: 2em !important;
    max-height: 4vh !important;
    position: absolute;
    bottom: 0px;
}

/*main menu page styles ###########################################################################################*/

#main-menu .ui-header {
    height: 2em !important;
    max-height: 5vh !important;
    margin-bottom: 3vh;
}

#main-menu .ui-navbar {
    height: 10vh !important;
    width: 100%;
}

#main-menu .ui-content {
    height: 73vh;
}

#main-menu .ui-footer {
    height: 2em !important;
    max-height: 4vh !important;
}

#main-menu {
    width: 100%;
    background-image: url("../img/mainmenu_bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}

.playButtonMain {
    background-color: #003062 !important;
    height: 5vh;
    min-width: 30%;
    float: right;
    margin-bottom: 3vh !important;
    margin-right: 20% !important;
    color: white !important;
}

.playAgainButton {
    background-color: #003062 !important;
    height: 5vh;
    min-width: 30%;
    float: right;
    margin-bottom: 3vh !important;
    margin-right: 20% !important;
    color: white !important;

}

.playButtonMainGrey {
    background-color: darkgrey !important;
}

.logo {
    background-image: url("../img/mainmenu_logo.png");
    height: 10vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}

.headlineMain {
    color: #003062;
    font-size: 10pt;
    padding-left: 5%;
    padding-bottom: 5%;
    letter-spacing: 0.01em;
    font-family: 'oswaldbold', sans-serif;
}

.greyFont {
    color: grey;
}

.hide {
    display: none;
}

.mainButton {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10% 0 10% 10%;
    margin: 1%;
    color: white;
    font-size: 10pt;
    text-transform: none;
    font-family: 'oswaldlight', sans-serif;
    letter-spacing: 0.06em;
}

.blueButton {
    background-image: url("../img/mainmenue_blueButton.png");
}

.brownButton {
    background-image: url("../img/mainmenue_brownButton.png");
}

.blueButton:hover {
    background-image: url("../img/mainmenue_brownButton.png");
}

.greyButtonBuy {
    background-image: url("../img/mainmenue_greyButton.png");
    position: relative;
    z-index: 0;
}

.greyButton {
    background-image: url("../img/mainmenue_greyButton_without.png");
    position: relative;
    z-index: 0;
}

.questionMark {
    background-image: url("../img/mainmenu_questionMarkButton.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: -20% 0 0 70%;
    z-index: 2;
}

#logoutAchievements{
    /*background-size: contain;
    background-color: grey;
    height: 80px;*/
}

#achievements {
    background-image: url("../img/mainmenu_achievement_button.png");
    background-size: contain;
    width: 5.5%;
    height: 9vh;
    background-repeat: no-repeat;
    margin-right: 5%;
    position: absolute;
    bottom: 6%;
    left: 4%;
    z-index: 6;

}

#inApp {
    background-image: url("../img/mainmenu_in-app-purchase_button.png");
    width: 9%;
    height: 9vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 3;
    bottom: 6%;
    left: 10%;

}

.overlay {
    background-color: rgba(255, 255, 255, 0.95);
    height: 50vh;
    width: 80%;
    margin: 0 auto;
    color: #003062;
    font-size: 10pt;
    letter-spacing: 0.01em;
    font-family: 'oswaldbold', sans-serif;
    position: absolute;
    z-index: 6;
    text-align: center;
    border: solid 8px #003062; /*#613100*/
    left: 9.5%;
    padding-top: 10%;
    display: none;

}

#buyButtonOverlay > section {
    display: none;
}

#buyButtonOverlay {
    padding: 5% 5% 0 5%;
    height: 60vh;
    width: 70%;
    left: 8.5%;

}

#buyButtonOverlay h1 {
    margin-bottom: -5px;

}

.ui-grid-c {
    z-index: 1;
    position: relative;

}

.X {
    float: right;
    color: #613100;
    font-size: 12pt;
    position: fixed;
    top: 20vh;
    left: 83%;
    border: 2px solid #613100;
    padding: 2px;
}

.ui-input-text {
    margin-top: 5vh;
    margin-left: 2vh;
}

/*win loose page styles ############################################################################################*/

#won, #lost {
    width: 100%;
    background-image: url("../img/mainmenu_bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.logoWinLoose {
    background-image: url("../img/winScreen_logo.png");
    height: 6vh;
    margin-left: 5% !important;
    width: 27.3% !important;
}

#wonText {
    font-size: 65pt;
    color: #003062;
    text-align: center;
    margin: 6%;
}

.winLooseButton {
    margin-right: 3% !important;
}

#looseText {
    font-size: 45pt;
    color: #003062;
    text-align: center;
    margin: 8%;
}

/* battlefield styles #############################################################################################*/

.battlefieldContainer {
    padding-left: 5%;
    padding-right: 5%;
}

.battlefieldHeadline {
    color: #003062;
    font-size: 15pt;
    padding-bottom: 2%;
    letter-spacing: 0.01em;
    font-family: 'oswaldbold', sans-serif;
}

.battlefield {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 55vh;
    height: 55vh;
    border: 1px solid #000000;
    z-index: 5;
}

.battlefieldRow {
    display: flex;
    flex: 1;
    padding: 0px;
    margin: 0px;
    width: 100%;
    z-index: 5;
}

.battlefieldField {
    flex: 1;
    margin: 0;
    padding: 0;
    border: 1px solid #000000;
    z-index: 5;
}

.battlefieldFieldSelected {
    background: rgba(255, 0, 0, 0.5);
    border: 1px solid #FF0000;
}

.battlefieldFieldHit{
    background: rgb(171, 171, 171)
}

.battlefieldFieldHitShip{
    background: rgba(0, 70, 200, 0.5);
}

.battlefieldFieldHovered{
    background: #999;
}

.battlefieldFieldOccupied{
    background: #bbb;
}


.battlefieldText {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 8pt;
    font-family: 'oswaldbold', sans-serif;
}

/* place ships  and battle page styles #########################################################################################*/

#placeships .ui-navbar, #battle .ui-navbar {
    height: 13vh !important;
    width: 100%;
}

.logoContainer{
    display: flex;
    flex-direction: row;
}


.logoBackButton{
    flex: 1;
    background-image: url("../img/menu_backButton.png");
    height: 5vh;
    margin: 4vh 0 4vh 4vh;
    width: 100%;
}

.logoSubSite {
    flex: 10;
    background-image: url("../img/battle_logo.png");
    height: 5vh;
    margin: 4vh;
    width: 100%;
}

.ad {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    height: 13vh;
    width: 100%;
    float: right;
}

#placeships .ui-header, #battle .ui-header {
    height: 1.5em !important;
    max-height: 2vh !important;
    margin-bottom: 0 !important;
    marign-top: 0 !important;
}

#placeships .ui-content, #battle .ui-content {
    height: 75vh;
}

#placeships .ui-footer, #battle .ui-footer {
    height: 1.5em !important;
    max-height: 2vh !important;
}

/* place ships page styles #########################################################################################*/

.placeShipsContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.placeShipsContainerBF {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.placeShipsContainerShips {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.shipContainer {
    margin-top: 12vh;
    height: 50%;
    width: 100%;
}

.shipContainerRow {
    height: 10vh;
}

.shipInBay{
    margin: 2%;
    z-index: 6;
}

.shipRotated{
    transform: rotate(90deg);
}

.shipBattle{
    position: absolute;
    z-index: 3;
}

.shipControls {
    display: flex;
    height: 10%;
}

.shipControl {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #613100 !important;
    width: 15%;
    height: 80%;
    margin-top: 5%;
    margin-right: 5%;
    color: white !important;
    text-decoration: none;
    font-size: 8pt;
    font-family: 'oswaldregular', sans-serif;
    letter-spacing: 0.1em;
}

.shipControlEnabled{
    background-color: #003062 !important;
}

.fightButton {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    background-color: #003062 !important;
    height: 15%;
    width: 30%;
    margin-top: 5%;
    margin-right: 10%;
    color: white !important;
    text-decoration: none;
    font-size: 15pt;
    font-family: 'oswaldlight', sans-serif;
    letter-spacing: 0.1em;
}

.fightButtonDisabled {
    background-color: darkgrey !important;
}


/* battle page styles ##############################################################################################*/

.battleContainer {
    display: flex;
    width: 100%;
    height: 94%;
}

.battleContainerHuman, .battleContainerEnemy {
    display: flex;
    flex: 3;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.battleContainerControls {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.shootButton {
    width: 100%;
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/battle_shootButton.png");
}

.shootButtonDisabled {
    background-image: url("../img/battle_shootButton_grey.png");
}

.battleTime {
    margin-left: 5%;
    font-size: 13pt;
    text-transform: none;
    font-family: 'oswaldregular', sans-serif;
    letter-spacing: 0.06em;
}

.infoText {
    margin-left: 5%;
    font-size: 13pt;
    font-style: italic;
    text-transform: none;
    font-family: 'oswaldregular', sans-serif;
    letter-spacing: 0.06em;

}
/*achievements ############################################################################################*/

.locked {
    background-color: lightgrey;
    max-width: 95%;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}
.unlocked{
    /*background-color: #E4E4E4;*/
    max-width: 95%;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}
.titleAch{
    padding-top: 1%;
    margin-bottom: 1%;
    color: #613100 !important;
    font-size: 15pt;
    text-transform: none;
    font-family: 'oswaldregular', sans-serif;
    letter-spacing: 0.06em;
}
.descriptionAch{
    padding-top: 1%;
    color: #003062 !important;
    margin-bottom: 1%;
    font-size: 11pt;
    text-transform: none;
    font-family: 'oswaldregular', sans-serif;
    letter-spacing: 0.06em;
}
.imageAch{
    margin-top: 1%;
    margin-left: 5%;
    max-height: 30%;
    margin-bottom: 1%;
}
.achievementsList{
    margin-top: 50px;
    max-width: 100%;
    max-height: 100%;
}
.buttonLogout{
    margin-left: 70%;
    max-width: 25%;
    max-height: 40px;
}